<section data-state='topic'>
    <h2>Which one should I use?</h2>
</section>

<section>
    <section>
        <h2>A quick recap</h2>
    </section>
</section>

<section>
    <section>
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox='0 0 45 55'>
                <use xlink:href='resources/farm-animals-monotone.svg#pig-monotone' />
            </svg>
            Icon Fonts</h2>
    </section>
    <section>
        <h2>What&rsquo;s good</h2>
        <ul>
            <li>Scalable</li>
            <li>Stylable</li>
            <li>Solid browser support</li>
        </ul>
        <aside class='notes'>
            * http://filamentgroup.com/lab/bulletproof_icon_fonts.html
            * Thoughts: http://ianfeather.co.uk/ten-reasons-we-switched-from-an-icon-font-to-svg/
            * Browser font adjustments: a little bold, a little light, antialiased, whatever -- not as much control
            * Positioning can feel a little awkward, absolute, line-height
            * Fallbacks can be weird
            * Square peg, round hole and all that
            * BUT, especially if you are interspersing icons and text, can work well
            * And, supported as well as fonts on the web -- pretty well (need to test)
            * But it's still pretty hacky
        </aside>
    </section>
    <section>
    <h2>What&rsquo;s not</h2>
        <ul>
            <li>Imprecise size &amp; positioning</li>
            <li>Verbose accessibility &amp; fallbacks</li>
            <li>Difficult to author fonts</li>
        </ul>
    </section>
</section>

<section>
    <section>
        <h2>
            <img class='plain' src='resources/cow-raster.png' />
            Raster Icons</h2>
    </section>
    <section>
        <h2>What&rsquo;s Good</h2>
        <ul>
            <li>Pixel-level control</li>
            <li>Browser support</li>
        </ul>
    </section>
    <section>
        <h2>What&rsquo;s Not</h2>
        <ul>
            <li>Fixed size &amp; resolution</li>
            <li>Limited packaging support</li>
        </ul>
    </section>
</section>

<section>
    <section>
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox='0 0 45 55'>
                <use xlink:href='resources/farm-animals-monotone.svg#rabbit-duotone' style="fill:#acf0f2" />
            </svg>
            SVG Icons</h2>
    </section>
    <section>
        <h2>What&rsquo;s Good</h2>
        <ul>
            <li>Individual or packaged icons</li>
            <li>Vector based</li>
            <li>Use as image</li>
            <li>Many tool options</li>
        </ul>
    </section>
    <section>
        <h2>What&rsquo;s Not</h2>
        <ul>
            <li>Browser support</li>
        </ul>
    </section>
</section>

<section>
    <section>
        <p class='big'>SVG is your best bet for most cases, especially when coupled with a raster fallback.</p>
    </section>
    <section>
        <p class='big'>Use whatever makes your life easier.</p>
    </section>    
</section>

<section data-state='title'>
    <h2>Thanks!</h2>
    <ul>
        <li>Bulletproof font icons by <a href='http://www.filamentgroup.com/lab/bulletproof_icon_fonts.html'>filament group</a></li>
        <li>SVG packaging by <a href='http://simurai.com/blog/2012/04/02/svg-stacks/'>simurai</a> and <a href='http://css-tricks.com/svg-symbol-good-choice-icons/'>Chris Coyier</a></li>
        <li>SVG accessibility by <a href='http://schepers.cc/authoring-accessible-svg'>Doug Schepers</a> and <a href='http://www.sitepoint.com/tips-accessible-svg/'>L&#x00e9;onie Watson</a>
        <li>Artwork by <a href='http://freepik.com'>freepik</a> and <a href='http://marinad.com.ar/free-flat-browser-logotypes/'>marinad</a></li>
        <li class='custom-marker'><span class='fa fa-github-alt'></span> <a href='http://github.com/betravis'>betravis</a></li>
        <li class='custom-marker'><span class='fa fa-twitter'></span> <a href="http://twitter.com/bear_travis">bear_travis</a></li>
        <li class='custom-marker'><span class='fa fa-link'></span> <a href="http://bear.me/icons-web">bear.me/icons-web</a></li>
    </ul>
</section>

<section data-state='topic'>
    <h2>Bonus Reel</h2>
</section>

<section>
    <section><h2>Web Components</h2></section>
    <section>
        <figure>
            <img src="resources/farm-animals.svg#fox" style="margin-top: -15%">
            <pre><code class="html"><!--
                <icon set="animals.svg" name="fox" />
            --></code></pre>
        </figure>
    </section>
</section>

<section>
    <section>
        <h2>Responsive icon design</h2>
        <aside class='notes'>
            * One more problem worth mentioning is that finer details may get lost as a design is scaled down
            * Want to design for size used
        </aside>
    </section>
    <section>
        <figure>
            <img class='plain' src='resources/iconic-responsive.png'>
            <figcaption>Microphone from Iconic</figcaption>
        </figure>
        <aside class='notes'>
            * Here we can see the microphone icon from the set Iconic.
            * They're trying to create general-use icons that look excellent at any size.
            * What you can see them doing is thinking about the amount of detail you can have in an icon at any given size.
            * You probably won't have the time to design all of these, or even use all of these
            * But, it is important to try to understand how your icons will be used. There is a big difference between an icon used at 25, 50, or 100 pixels.
        </aside>
    </section>
</section>
