<section data-state='topic'>
    <h2>Raster Icons</h2>
</section>

<section>
    <section>
        <figure>
        <img class='plain' src='resources/cow-raster.png' />
        </figure>
        <aside class='notes'>
            * This method is probably the most widely supported
            * Uses a pixel-based image format, such as png, gif, jpg
            * When designing these, you know exactly what each pixel will be
            * Provided it displays at the intended size
        </aside>
    </section>
    <section>
        <pre><code class='html'><!--
        <img class='icon' src='icon-cow.png'>
        --></code></pre>
    </section>
    <section>
        <pre><code class='css'><!--
        .icon { /* formatting */ }
        .icon-cow {
            background: url('icon-cow.png');
        }
        --></code></pre>
        <pre><code class='html'><!--
        <span class='icon icon-cow'></span>
        --></code></pre>
    </section>
</section>

<section>
    {% comment %}
    <section>
        <h2>Pixel Perfect</h2>
        <aside class='notes'>
            * Icons have a limited amount of visual real estate in which to communicate an idea
        </aside>
    </section>
    {% endcomment %}
    <section>
        <figure>
            <img class='plain' src='resources/black-arrow.png'>
            <figcaption>
                16 x 24 icon
            </figcaption>
        </figure>
        <aside class='notes'>
            * Let's revisit that cursor arrow icon I showed earlier.
            * It's only 16 x 24 pixels in dimension.
            * That's 384 pixels to communicate an idea, and most of them are empty to give space.
        </aside>
    </section>

    <section>
        <figure class='flex-ribbon'>
            <div>
                <img class='plain' src='resources/cursor-icon-set.svg#vector-arrow'>
                <h3>Ideal</h3>
            </div>
            <div>
                <img class='plain' src='resources/cursor-icon-set.svg#black-arrow'>
                <h3>Pixels</h3>
            </div>
        </figure>
        <aside class='notes'>
            * Icons often begin as an idealized form that is then translated to pixels.
            * Although you generally can't go wrong with icon design, the smaller the icon will be, the more necessary simplicity becomes.
            * Small details won't make it into a translation that's only 16 pixels wide.
            * During the translation, you can do some clean-up to make
            * This cursor icon, for example, is designed to fit into 16x24 pixels.
            * That's not that many, so it's important to get every single one right.
        </aside>
    </section>

    <section>
        <div class='flex-ribbon' style='align-items: flex-end'>
            <img src='resources/cursor-icon-set.svg#vector-arrow'>
            <img style='flex:2' src='resources/cursor-icon-set.svg#vector-arrow'>
            <img style='flex:3' src='resources/cursor-icon-set.svg#vector-arrow'>
            <img style='flex:5' src='resources/cursor-icon-set.svg#vector-arrow'>
            <img style='flex:8' src='resources/cursor-icon-set.svg#vector-arrow'>
            <img style='flex:13' src='resources/cursor-icon-set.svg#vector-arrow'>
        </div>
    </section>

{% comment %}
    <section>
        <figure class='flex-ribbon'>
            <div>
                <img class='plain' src='resources/cursor-icon-set.svg#vector-arrow'>
                <h3>Vector</h3>
            </div>
            <div>
                <img class='plain' src='resources/cursor-icon-set.svg#black-arrow'>
                <h3>Raster</h3>
            </div>
        </figure>
        <aside class='notes'>
            * Icons often begin as an idealized form that is then translated to pixels.
            * Although you generally can't go wrong with icon design, the smaller the icon will be, the more necessary simplicity becomes.
            * Small details won't make it into a translation that's only 16 pixels wide.
            * During the translation, you can do some clean-up to make
            * This cursor icon, for example, is designed to fit into 16x24 pixels.
            * That's not that many, so it's important to get every single one right.
        </aside>
    </section>
{% endcomment %}
    
    <section>
        <figure>
            <img class='plain' src='resources/arrow-rasterizations-captioned.png'>
        </figure>
        <aside class='notes'>
            * If we have the original form in vector format,
            * We can render it at each size we want, and then potentially correct the pixels
            * We have to be careful if this is done automatically for us.
            * In this case, the ideal was authored on a 16x24 grid
            * When translated to a 24x36px grid, some coordinates start to fall on half pixel boundaries.
            * If you look at the middle icon, you can see that the left edge isn't crisp, both the white and black edges have antialiased.
            * Although slight, artifacts like this will cause icons to look blurry.
        </aside>
    </section>

    <section>
        <figure>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox='0 0 200 100'>
                <use style='fill: white' xlink:href='resources/image-icon.svg#image-symbol' width='100' height='100' x='50'/>
            </svg>
            <figcaption>icon on 20 x 20 grid</figcaption>
        </figure>
        <aside class='notes'>
            * I want to show you one more example of what can happen when you render vectors
            * Take this example of an image icon, drawn as a vector on a 20x20 unit grid.
        </aside>
    </section>

    <section>
        <figure>
            <img class='plain' src='resources/image-icon-placed.png'>
            <figcaption>result of 0.5px offset</figcaption>
        </figure>
        <aside class='notes'>
            * If the vector is rendered not on a pixel boundary, all of the lines become antialiased.
            * This will result in a blurry looking icon, and has significantly altered the icon's appearance (the outline is much different), and can therefore affect how the icon looks wrt other icons in the set.
        </aside>
    </section>

    <section>
        <h2>The bad news</h2>
        <aside class='notes'>
            * So we kind of have some bad news / good news
        </aside>
    </section>
    <section>
        <p class='big'>Icons may lose clarity when working with anything other than the exact pixels.</p>
    </section>
    
    <section>
        <h2>The good news</h2>
    </section>
    <section>
        <p class='big'>High resolution displays make these issues less visible.</p>
    </section>
</section>

{% comment %}
<section>
    <h2>Pro tips</h2>
    <ul>
        <li>Minimize your resource loads</li>
        <li>Use build scripts</li>
    </ul>
</section>
{% endcomment %}

{% comment %}
<section>
    <section>
        <h2>Minimizing resource loads</h2>
    </section>
    <section>
        <h2>Stylesheet Embed</h2>
        <pre><code class='css'><!--
        .icon-cow {
        background: url(data:image/png;base64,...);
        }
        --></code></pre>
    </section>
    <section>
        <h2>Spritesheet</h2>
        <div class='ribbon' style="display: inline-block; border-width: .1em; border-style: solid; border-radius: .3em; background-color: rgba(255, 255, 255, 0.3);">
            <img src='resources/farm-animals.svg#pig'>
            <img src='resources/farm-animals.svg#chicken'>
            <img src='resources/farm-animals.svg#fox'>
            <img src='resources/farm-animals.svg#rabbit'>
            <img src='resources/farm-animals.svg#cow'>
        </div>
    </section>
    <section>
        <pre><code class='css'><!--
        .icon {
            background: url('spritesheet.png');
        }
        .icon-cow {
            background-size: 80px 24px;
            background-position: -64px 0;
        }
        --></code></pre>
    </section>
</section>
{% endcomment %}

{% comment %}
<section>
    <section>
        <h2>What&rsquo;s Good</h2>
        <ul>
            <li>Pixel-level control</li>
            <li>Browser support</li>
        </ul>
    </section>
    <section>
        <h2>What&rsquo;s Not</h2>
        <ul>
            <li>Fixed size &amp; resolution</li>
            <li>Limited packaging support</li>
        </ul>
    </section>
</section>
{% endcomment %}